<!DOCTYPE html>
{% load static %}
<title>Mindustry 4.0 Wiki | Blast Compound</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="A student created wikipedia-like site that covers the game Mindustry.">
    <link rel="stylesheet" type="text/css" href="{% static 'pagestyle4.css' %}">

<html>
<body class='sitebg'>

<table align='center'class='infobox'>
    <tr><td><h2 class='intro'>Blast Compound</h2></td></tr>
    <tr><td class='icon'><img src='{% static "images/blastcompound.png" %}'></td></tr>
    <tr><td class='ammo'></td></tr>


</table>

</body>
</html>