<!DOCTYPE HTML>
<html lang="en">
    {% load static %}
    
<head>
    <title>Mindustry 4.0 Wiki</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="A student created wikipedia-like site that covers the game Mindustry.">
    <link rel="stylesheet" type="text/css" href="{% static 'indexstyles4.css' %}">
</head>
<body class='sitebg'>
<div class='main-nav'>
    <ul class='nav'>
      
        <li class='links'><a href="{% url 'eindex4.html' %}"><img class=''src="{% static 'images/enemylink4.png' %}"></a></li>
       
        <li class='links'><a href="{% url 'mindex4.html' %}"><img class=''src="{% static 'images/mechlink4.png' %}"></a></li>
      
        <li class='links'><a href="{% url 'iindex4.html' %}"><img class=''src="{% static 'images/itemlink4.png' %}"></a></li>

        <li class=''><a href="/index/"><img class='header' src="{% static 'images/logo4noversionnumber.png' %}"></a></li>
       
        <li class='links'><a href="{% url 'zindex4.html' %}"><img class=''src="{% static 'images/zonelink4.png' %}"></a></li>
       
        <li class="links"><a href="{% url 'bindex4.html' %}"><img class=''src="{% static 'images/blockslink4.png' %}"></a></li>
       
        <li class='links'><a href="{% url 'windex4.html' %}"><img class='' src="{% static 'images/weaponlink4.png' %}"></a></li>

    </ul>


</div>








</body>



</html>