* {
    color: floralwhite;
    box-sizing: border-box
}

.sitebg {
    background-color: rgb(51, 52, 53);

}
.intro {
    text-align: center;
     
}
.header {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    
}
.main-nav {
    width: 100%;
   
    justify-content: center;
    padding: 10px;
    position: initial;
    
  }
.nav {
    
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  .links {
    justify-content: space-evenly;
    display: flex;
    padding-top: 15px;
      
      
  }

  .links2 {
    justify-content: space-evenly;
    display: inline-flex;
    
  }

  .ilist {
    display: flex;
    width: 100%;
    
  }

 

@media screen and (min-width: 720px) {
    * {
        color: floralwhite;
        box-sizing: border-box
    }
    
    .sitebg {
        background-color: rgb(51, 52, 53);
    
    }
    .intro {
        text-align: center;
         
    }
    .header {
        justify-content: center;
        
        margin-top: 10px;
        
    }
    .main-nav {
        
       
        justify-content: center;
        padding: 10px;
        position: initial;
        
      }
    .nav {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
      }
    
      .links {
        justify-content: space-evenly;
        display: flex;
        padding-top: 15px;
          
          
      }
    
      .links2 {
        justify-content: space-evenly;
        display: inline-flex;
        
      }
    
      .ilist {
        display: flex;
        width: 100%;
        justify-content: center;
        
        
      }

      .a {
          width: 0;
          height: 0;
      }
      .li {
          display: flex;
      }

      .table1 {
          float: center;
          margin-left: 0 auto;
          margin-right: 0 auto;
      }
}