<!DOCTYPE html>
<html>
   
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mindustry Wiki</title>
        <meta name="description" content="A student created wikipedia-like site that covers the game Mindustry.">
        <link rel="stylesheet" type="text/css" href="../../static/indexstyles.css">
    </head>
    <body class='sitebg'>
        <div class='main-nav'>
            <ul class='nav'>
            
        <li>
            
            <a href='/wiki3/'><img class='header' src="../../static/images/Logo2.png"></a>
        </li>
        <li>
            <a href='/wiki4/'><img class='header' src="../../static/images/logo4.png">
        </a>
            </li>

    </ul>
        <h2></h2>

        </div>
        
        <h3 class='intro'>
           Welcome to the (Unofficial) Mindustry Wiki Homepage!
        </h3>
        
        <!--
            WHAT IS BRACKETS?
        -->
        <p class='intro'>
            <em>CLick on one of the titles to go the respective Mindustry version's wiki homepage!
                (Mindustry 3.5 is currently not operational)
            </em>
        </p>
        
        <!--
            GET STARTED WITH YOUR OWN FILES
        -->
        
       
        
        
        
       
        
        <!--
            LET US KNOW WHAT YOU THINK
        -->
        <h2 class='intro'>About Mindustry</h2>
        <p class='intro'>
            Mindustry is a game that is actively being made by developer <a href="https://github.com/Anuken/Mindustry">Anuken</a>
        </p>
       
        
    </body>
</html>

